*hex
framedata.32t
histdata.32t
capgps
cpedid
dbgfp.64t
dumpflash
edidrxscope
edidtxscope
excheck
exregs
exuart
flashid
flashscope
/frames/
gendecode
gpscoeffs
i2casm
/i2casm.l
i2cscope
lex.yy.c
manping
mdioscope
mkedid
netstat
netuart
rdclocks
rdsync
readmdio
sdioscope
sdwbscope
spiasm
spiscope
tags
tstgps
vidscope
wbregs
zipdbg
zipload
zipscope
zipscope.txt
zipstate
edidsrc.bin
qspidump-original.bin
greentest.sh
hintst.sh
/*edid*.bin
oldregdefs.h
ramread.sh
ramwrite.sh
rawtmds.txt
rdsynch.sh
testsync
tstmem.sh
tweakedid
scopdata.txt
tstmem.sh
