*hex
framedata.32t
histdata.32t
rdsync
tmdscope
capgps
dbgfp.64t
dumpflash
edidrxscope
gpscoeffs
mkedid
netuart
rdclocks
tags
tstgps
wbregs
zipdbg
zipload
zipstate
edidtxscope
edidsrc.bin
qspidump-original.bin
cpedid
rawdscope
readframe
readhist
